# SF salaries exercise _ Raviraj Nagarkar

In [1]:
import pandas as pd
import numpy as np

In [2]:
sal=pd.read_csv('Salaries.csv')

In [10]:
sal

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
148649,148650,Roy I Tillery,Custodian,0.00,0.00,0.00,0.0,0.00,0.00,2014,NaN,San Francisco,NaN
148650,148651,Not provided,Not provided,NaN,NaN,NaN,NaN,0.00,0.00,2014,NaN,San Francisco,NaN
148651,148652,Not provided,Not provided,NaN,NaN,NaN,NaN,0.00,0.00,2014,NaN,San Francisco,NaN
148652,148653,Not provided,Not provided,NaN,NaN,NaN,NaN,0.00,0.00,2014,NaN,San Francisco,NaN
148653,148654,Joe Lopez,"Counselor, Log Cabin Ranch",0.00,0.00,-618.13,0.0,-618.13,-618.13,2014,NaN,San Francisco,NaN

In [8]:
type(sal)

pandas.core.frame.DataFrame

In [3]:
sal.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

In [36]:
sal.head(20)

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN
5,6,DAVID SULLIVAN,ASSISTANT DEPUTY CHIEF II,118602.00,8601.00,189082.74,NaN,316285.74,316285.74,2011,NaN,San Francisco,NaN
6,7,ALSON LEE,"BATTALION CHIEF, (FIRE DEPARTMENT)",92492.01,89062.90,134426.14,NaN,315981.05,315981.05,2011,NaN,San Francisco,NaN
7,8,DAVID KUSHNER,DEPUTY DIRECTOR OF INVESTMENTS,256576.96,0.00,51322.50,NaN,307899.46,307899.46,2011,NaN,San Francisco,NaN
8,9,MICHAEL MORRIS,"BATTALION CHIEF, (FIRE DEPARTMENT)",176932.64,86362.68,40132.23,NaN,303427.55,303427.55,2011,NaN,San Francisco,NaN
9,10,JOANNE HAYES-WHITE,"CHIEF OF DEPARTMENT, (FIRE DEPARTMENT)",285262.00,0.00,17115.73,NaN,302377.73,302377.73,2011,NaN,San Francisco,NaN
10,11,ARTHUR KENNEY,"ASSISTANT CHIEF OF DEPARTMENT, (FIRE DEPARTMENT)",194999.39,71344.88,33149.90,NaN,299494.17,299494.17,2011,NaN,San Francisco,NaN
11,12,PATRICIA JACKSON,CAPTAIN III (POLICE DEPARTMENT),99722.00,87082.62,110804.30,NaN,297608.92,297608.92,2011,NaN,San Francisco,NaN
12,13,EDWARD HARRINGTON,EXECUTIVE CONTRACT EMPLOYEE,294580.02,0.00,0.00,NaN,294580.02,294580.02,2011,NaN,San Francisco,NaN
13,14,JOHN MARTIN,DEPARTMENT HEAD V,271329.03,0.00,21342.59,NaN,292671.62,292671.62,2011,NaN,San Francisco,NaN
14,15,DAVID FRANKLIN,"BATTALION CHIEF, (FIRE DEPARTMENT)",174872.64,74050.30,37424.11,NaN,286347.05,286347.05,2011,NaN,San Francisco,NaN
15,16,RICHARD CORRIEA,"COMMANDER III, (POLICE DEPARTMENT)",198778.01,73478.20,13957.65,NaN,286213.86,286213.86,2011,NaN,San Francisco,NaN
16,17,AMY HART,DEPARTMENT HEAD V,268604.57,0.00,16115.86,NaN,284720.43,284720.43,2011,NaN,San Francisco,NaN
17,18,SEBASTIAN WONG,"CAPTAIN, EMERGENCYCY MEDICAL SERVICES",140546.87,119397.26,18625.08,NaN,278569.21,278569.21,2011,NaN,San Francisco,NaN
18,19,MARTY ROSS,"BATTALION CHIEF, (FIRE DEPARTMENT)",168692.63,69626.12,38115.47,NaN,276434.22,276434.22,2011,NaN,San Francisco,NaN
19,20,ELLEN MOFFATT,ASSISTANT MEDICAL EXAMINER,257510.59,880.16,16159.50,NaN,274550.25,274550.25,2011,NaN,San Francisco,NaN

In [12]:
sal.tail()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
148649,148650,Roy I Tillery,Custodian,0.0,0.0,0.00,0.0,0.00,0.00,2014,NaN,San Francisco,NaN
148650,148651,Not provided,Not provided,NaN,NaN,NaN,NaN,0.00,0.00,2014,NaN,San Francisco,NaN
148651,148652,Not provided,Not provided,NaN,NaN,NaN,NaN,0.00,0.00,2014,NaN,San Francisco,NaN
148652,148653,Not provided,Not provided,NaN,NaN,NaN,NaN,0.00,0.00,2014,NaN,San Francisco,NaN
148653,148654,Joe Lopez,"Counselor, Log Cabin Ranch",0.0,0.0,-618.13,0.0,-618.13,-618.13,2014,NaN,San Francisco,NaN

In [4]:
sal.tail(30)

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
148624,148625,Lorraine Rosenthal,Senior Clerk,0.0,0.0,12.89,0.00,12.89,12.89,2014,NaN,San Francisco,NaN
148625,148626,Renato C Gurion,Registered Nurse,0.0,0.0,6.00,1.24,6.00,7.24,2014,NaN,San Francisco,NaN
148626,148627,Paulet Gaines,Account Clerk,0.0,0.0,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,NaN
148627,148628,Brett A Lundberg,General Laborer,0.0,0.0,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,NaN
148628,148629,Mark W Mcclure,General Laborer,0.0,0.0,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,NaN
148629,148630,Elizabeth Iniguez,Transcriber Typist,0.0,0.0,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,NaN
148630,148631,Randy J Keys,Carpenter,0.0,0.0,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,NaN
148631,148632,Andre M Johnson,Communications Dispatcher 1,0.0,0.0,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,NaN
148632,148633,Sharon D Owens-Webster,Protective Services Worker,0.0,0.0,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,NaN
148633,148634,Edward Ferdinand,General Laborer,0.0,0.0,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,NaN
148634,148635,David M Turner,Transit Car Cleaner,0.0,0.0,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,NaN
148635,148636,James S Kibblewhite,General Laborer,0.0,0.0,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,NaN
148636,148637,Andrew J Enzi,Arborist Technician,0.0,0.0,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,NaN
148637,148638,Kadeshra D Green,Transit Fare Inspector,0.0,0.0,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,NaN
148638,148639,Lennard B Hutchinson,Electrician,0.0,0.0,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,NaN
148639,148640,Richard A Talbert,Custodian,0.0,0.0,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,NaN
148640,148641,Charlene D Mccully,Parking Control Officer,0.0,0.0,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,NaN
148641,148642,Raphael Marquis Goins,Museum Guard,0.0,0.0,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,NaN
148642,148643,Dominic C Marquez,Sign Worker,0.0,0.0,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,NaN
148643,148644,Kim Brewer,Parking Control Officer,0.0,0.0,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,NaN
148644,148645,Randy D Winn,"Stationary Eng, Sewage Plant",0.0,0.0,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,NaN
148645,148646,Carolyn A Wilson,Human Services Technician,0.0,0.0,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,NaN
148646,148647,Not provided,Not provided,NaN,NaN,NaN,NaN,0.00,0.00,2014,NaN,San Francisco,NaN
148647,148648,Joann Anderson,Communications Dispatcher 2,0.0,0.0,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,NaN
148648,148649,Leon Walker,Custodian,0.0,0.0,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,NaN
148649,148650,Roy I Tillery,Custodian,0.0,0.0,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,NaN
148650,148651,Not provided,Not provided,NaN,NaN,NaN,NaN,0.00,0.00,2014,NaN,San Francisco,NaN
148651,148652,Not provided,Not provided,NaN,NaN,NaN,NaN,0.00,0.00,2014,NaN,San Francisco,NaN
148652,148653,Not provided,Not provided,NaN,NaN,NaN,NaN,0.00,0.00,2014,NaN,San Francisco,NaN
148653,148654,Joe Lopez,"Counselor, Log Cabin Ranch",0.0,0.0,-618.13,0.00,-618.13,-618.13,2014,NaN,San Francisco,NaN

In [39]:
sal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148654 non-null  int64
 1   EmployeeName      148654 non-null  object
 2   JobTitle          148654 non-null  object
 3   BasePay           148045 non-null  float64
 4   OvertimePay       148650 non-null  float64
 5   OtherPay          148650 non-null  float64
 6   Benefits          112491 non-null  float64
 7   TotalPay          148654 non-null  float64
 8   TotalPayBenefits  148654 non-null  float64
 9   Year              148654 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            148654 non-null  object
 12  Status            0 non-null       float64
dtypes: float64(8), int64(2), object(3)
memory usage: 14.7+ MB

In [5]:
sal.BasePay.mean()

66325.44884050643

In [6]:
sal['BasePay'].mean() ## use this method

66325.44884050643

In [7]:
np.mean(sal['BasePay'])

66325.44884050643

In [8]:
sal['OvertimePay'].max()

245131.88

In [9]:
sal

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
148649,148650,Roy I Tillery,Custodian,0.00,0.00,0.00,0.0,0.00,0.00,2014,NaN,San Francisco,NaN
148650,148651,Not provided,Not provided,NaN,NaN,NaN,NaN,0.00,0.00,2014,NaN,San Francisco,NaN
148651,148652,Not provided,Not provided,NaN,NaN,NaN,NaN,0.00,0.00,2014,NaN,San Francisco,NaN
148652,148653,Not provided,Not provided,NaN,NaN,NaN,NaN,0.00,0.00,2014,NaN,San Francisco,NaN
148653,148654,Joe Lopez,"Counselor, Log Cabin Ranch",0.00,0.00,-618.13,0.0,-618.13,-618.13,2014,NaN,San Francisco,NaN

In [47]:
sal[sal['EmployeeName']=='JOSEPH DRISCOLL']['JobTitle']

24    CAPTAIN, FIRE SUPPRESSION
Name: JobTitle, dtype: object

In [48]:
type(sal[sal['EmployeeName']=='JOSEPH DRISCOLL']['JobTitle'])

pandas.core.series.Series

In [49]:
type(sal[sal['EmployeeName']=='JOSEPH DRISCOLL'])

pandas.core.frame.DataFrame

In [10]:
sal[sal['EmployeeName']=='JOSEPH DRISCOLL']['TotalPayBenefits']

24    270324.91
Name: TotalPayBenefits, dtype: float64

In [13]:
highest_Sal=sal['TotalPayBenefits'].max()

In [14]:
highest_Sal

567595.43

In [57]:
sal['TotalPayBenefits'].max()

567595.43

In [59]:
sal[sal['TotalPayBenefits']==sal['TotalPayBenefits'].max()]['EmployeeName']

0    NATHANIEL FORD
Name: EmployeeName, dtype: object

In [60]:
sal[sal['TotalPayBenefits']==sal['TotalPayBenefits'].min()]['EmployeeName']

148653    Joe Lopez
Name: EmployeeName, dtype: object

In [15]:
sal

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
148649,148650,Roy I Tillery,Custodian,0.00,0.00,0.00,0.0,0.00,0.00,2014,NaN,San Francisco,NaN
148650,148651,Not provided,Not provided,NaN,NaN,NaN,NaN,0.00,0.00,2014,NaN,San Francisco,NaN
148651,148652,Not provided,Not provided,NaN,NaN,NaN,NaN,0.00,0.00,2014,NaN,San Francisco,NaN
148652,148653,Not provided,Not provided,NaN,NaN,NaN,NaN,0.00,0.00,2014,NaN,San Francisco,NaN
148653,148654,Joe Lopez,"Counselor, Log Cabin Ranch",0.00,0.00,-618.13,0.0,-618.13,-618.13,2014,NaN,San Francisco,NaN

In [3]:
by_year=sal.groupby('Year')

In [4]:
by_year.mean()['BasePay']

Year
2011    63595.956517
2012    65436.406857
2013    69630.030216
2014    66564.421924
Name: BasePay, dtype: float64

In [22]:
sal['JobTitle'].unique().size

2159

In [23]:
sal['JobTitle'].nunique()

2159

In [5]:
(list(sal['JobTitle']))

['GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY',
 'CAPTAIN III (POLICE DEPARTMENT)',
 'CAPTAIN III (POLICE DEPARTMENT)',
 'WIRE ROPE CABLE MAINTENANCE MECHANIC',
 'DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)',
 'ASSISTANT DEPUTY CHIEF II',
 'BATTALION CHIEF, (FIRE DEPARTMENT)',
 'DEPUTY DIRECTOR OF INVESTMENTS',
 'BATTALION CHIEF, (FIRE DEPARTMENT)',
 'CHIEF OF DEPARTMENT, (FIRE DEPARTMENT)',
 'ASSISTANT CHIEF OF DEPARTMENT, (FIRE DEPARTMENT)',
 'CAPTAIN III (POLICE DEPARTMENT)',
 'EXECUTIVE CONTRACT EMPLOYEE',
 'DEPARTMENT HEAD V',
 'BATTALION CHIEF, (FIRE DEPARTMENT)',
 'COMMANDER III, (POLICE DEPARTMENT)',
 'DEPARTMENT HEAD V',
 'CAPTAIN, EMERGENCYCY MEDICAL SERVICES',
 'BATTALION CHIEF, (FIRE DEPARTMENT)',
 'ASSISTANT MEDICAL EXAMINER',
 'ASSISTANT MEDICAL EXAMINER',
 'ASSISTANT MEDICAL EXAMINER',
 'CAPTAIN, FIRE SUPPRESSION',
 'BATTALION CHIEF, (FIRE DEPARTMENT)',
 'CAPTAIN, FIRE SUPPRESSION',
 'CHIEF OF POLICE',
 'CAPTAIN, FIRE SUPPRESSION',
 'BATTALION CHIEF, (FIRE DEPARTMENT)',
 'DEPUTY CHIEF III (POLICE DEPARTMENT)',
 'DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)',
 'EXECUTIVE CONTRACT EMPLOYEE',
 'DEPUTY CHIEF III (POLICE DEPARTMENT)',
 'DEPARTMENT HEAD V',
 'INSPECTOR III, (POLICE DEPARTMENT)',
 'BATTALION CHIEF, (FIRE DEPARTMENT)',
 'ELECTRONIC MAINTENANCE TECHNICIAN',
 'ADMINISTRATOR, SFGH MEDICAL CENTER',
 'INSPECTOR III, (POLICE DEPARTMENT)',
 'LIEUTENANT III (POLICE DEPARTMENT)',
 'BATTALION CHIEF, (FIRE DEPARTMENT)',
 'BATTALION CHIEF, (FIRE DEPARTMENT)',
 'BATTALION CHIEF, (FIRE DEPARTMENT)',
 'DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)',
 'FIREFIGHTER',
 'NURSING SUPERVISOR PSYCHIATRIC',
 'MAYOR',
 'BATTALION CHIEF, (FIRE DEPARTMENT)',
 'DEPARTMENT HEAD V',
 'DEPUTY CHIEF III (POLICE DEPARTMENT)',
 'LIEUTENANT, FIRE DEPARTMENT',
 'BATTALION CHIEF, (FIRE DEPARTMENT)',
 'DEPARTMENT HEAD V',
 'CAPTAIN, FIRE SUPPRESSION',
 'CAPTAIN, FIRE SUPPRESSION',
 'CAPTAIN, EMERGENCYCY MEDICAL SERVICES',
 'DEPUTY CHIEF III (POLICE DEPARTMENT)',
 'DEPARTMENT HEAD V',
 'ASSISTANT DEPUTY CHIEF II',
 'INCIDENT SUPPORT SPECIALIST',
 'ANESTHETIST',
 'LIEUTENANT, FIRE DEPARTMENT',
 'CAPTAIN III (POLICE DEPARTMENT)',
 'CAPTAIN, EMERGENCYCY MEDICAL SERVICES',
 'BATTALION CHIEF, (FIRE DEPARTMENT)',
 'LIEUTENANT III (POLICE DEPARTMENT)',
 'CAPTAIN III (POLICE DEPARTMENT)',
 'ASSISTANT CHIEF OF DEPARTMENT, (FIRE DEPARTMENT)',
 'CAPTAIN, FIRE SUPPRESSION',
 'DEPUTY CHIEF III (POLICE DEPARTMENT)',
 'INCIDENT SUPPORT SPECIALIST',
 'DISTRICT ATTORNEY',
 'BATTALION CHIEF, (FIRE DEPARTMENT)',
 'ELECTRICAL TRANSIT MECHANIC, ASSISTANT SUPERVISOR',
 'PORT DIRECTOR',
 'INSPECTOR III, (POLICE DEPARTMENT)',
 'INSPECTOR III, (POLICE DEPARTMENT)',
 'BATTALION CHIEF, (FIRE DEPARTMENT)',
 'LIEUTENANT, BUREAU OF FIRE PREVENTION AND PUBLIC S',
 'CAPTAIN, FIRE SUPPRESSION',
 'BATTALION CHIEF, (FIRE DEPARTMENT)',
 'SENIOR PHYSICIAN SPECIALIST',
 'LIEUTENANT, FIRE DEPARTMENT',
 'BATTALION CHIEF, (FIRE DEPARTMENT)',
 'GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY',
 'CAPTAIN, EMERGENCYCY MEDICAL SERVICES',
 'FIRE FIGHTER PARAMEDIC',
 'BATTALION CHIEF, (FIRE DEPARTMENT)',
 'MANAGER VII',
 'TRANSIT SUPERVISOR',
 'INSPECTOR, BUREAU OF FIRE PREVENTION AND PUBLIC SA',
 'BATTALION CHIEF, (FIRE DEPARTMENT)',
 'CAPTAIN III (POLICE DEPARTMENT)',
 'CAPTAIN, FIRE SUPPRESSION',
 'CAPTAIN III (POLICE DEPARTMENT)',
 'BATTALION CHIEF, (FIRE DEPARTMENT)',
 'MANAGER VIII',
 'ANESTHETIST',
 'BATTALION CHIEF, (FIRE DEPARTMENT)',
 'FIRE FIGHTER PARAMEDIC',
 'DEPUTY DIRECTOR II - MUNICIPAL TRANSPORTATION AG',
 'BATTALION CHIEF, (FIRE DEPARTMENT)',
 'LIEUTENANT, FIRE DEPARTMENT',
 'FIREFIGHTER',
 'TRANSIT SUPERVISOR',
 'FIREFIGHTER',
 'FIREFIGHTER',
 'BATTALION CHIEF, (FIRE DEPARTMENT)',
 'NURSING SUPERVISOR',
 'NURSING SUPERVISOR',
 'FIREFIGHTER',
 'ANESTHETIST',
 'POLICE OFFICER III',
 'DEPUTY DIRECTOR II - MUNICIPAL TRANSPORTATION AG',
 'NURSING SUPERVISOR',
 'TRANSIT SUPERVISOR',
 "SHERIFF'S LIEUTENANT",
 'DEPUTY DIRECTOR V',
 'SUPERVISING PHYSICIAN SPECIALIST',
 'BATTALION CHIEF, (FIRE DEPARTMENT)',
 'NURSING SUPERVISOR',
 'CAPTAIN, FIRE SUPPRESSION',
 'ANESTHETIST',
 'FIRE FIGHTER PARAMEDIC',
 'NURSING SUPERVISOR',
 'TRANSIT SUPERVISOR',
 'CAPTAIN III (POLICE DEPARTMENT)',
 'ANESTHETIST',
 'BATTALION CHIEF, (FIRE DEPARTMENT)',
 'CAPTAIN, FIRE SUPPRESSION',
 'LIEUTENANT, FIRE DEPARTMENT',
 'LIEUTENANT, BUREAU OF FIRE PREVENTION AND PUBLIC S',
 'CAPTAIN, FIRE SUPPRESSION',
 'DEPARTMENT HEAD IV',
 'LIEUTENANT III (POLICE DEPARTMENT)',
 'BATTALION CHIEF, (FIRE DEPARTMENT)',
 'LIEUTENANT, FIRE DEPARTMENT',
 'FORENSIC TOXICOLOGIST',
 'DEPUTY DIRECTOR V',
 'CONFIDENTIAL CHIEF ATTORNEY II (CIVIL & CRIMINAL)',
 'CONFIDENTIAL CHIEF ATTORNEY II (CIVIL & CRIMINAL)',
 'CONFIDENTIAL CHIEF ATTORNEY II (CIVIL & CRIMINAL)',
 'LIEUTENANT, FIRE DEPARTMENT',
 'SERGEANT III (POLICE DEPARTMENT)',
 'FIREFIGHTER',
 'COMMANDER III, (POLICE DEPARTMENT)',
 'CAPTAIN, EMERGENCYCY MEDICAL SERVICES',
 'NURSING SUPERVISOR',
 'FIREFIGHTER',
 'SENIOR PHYSICIAN SPECIALIST',
 'NURSING SUPERVISOR',
 'FIREFIGHTER',
 'BATTALION CHIEF, (FIRE DEPARTMENT)',
 'BATTALION CHIEF, (FIRE DEPARTMENT)',
 'CAPTAIN, EMERGENCYCY MEDICAL SERVICES',
 'DEPUTY SHERIFF',
 'LIEUTENANT III (POLICE DEPARTMENT)',
 'SERGEANT III (POLICE DEPARTMENT)',
 'COMMANDER III, (POLICE DEPARTMENT)',
 'COMMANDER III, (POLICE DEPARTMENT)',
 'DEPUTY DIRECTOR II - MUNICIPAL TRANSPORTATION AG',
 'TRANSIT SUPERVISOR',
 'FIRE FIGHTER PARAMEDIC',
 'MANAGER VIII',
 'SERGEANT III (POLICE DEPARTMENT)',
 'FIRE FIGHTER PARAMEDIC',
 'FIREFIGHTER',
 'TRANSIT SUPERVISOR',
 'FIREFIGHTER',
 'NURSE MANAGER',
 'INSPECTOR III, (POLICE DEPARTMENT)',
 'LIEUTENANT, FIRE DEPARTMENT',
 'SERGEANT III (POLICE DEPARTMENT)',
 'CAPTAIN, FIRE SUPPRESSION',
 'LIEUTENANT, FIRE DEPARTMENT',
 'ELECTRICAL TRANSIT SYSTEM MECHANIC',
 'LIEUTENANT, FIRE DEPARTMENT',
 'SENIOR PHYSICIAN SPECIALIST',
 'MANAGER VIII',
 'FIRE FIGHTER PARAMEDIC',
 'CITY ATTORNEY',
 'ELECTRICAL TRANSIT SYSTEM MECHANIC',
 'MARINE ENGINEER OF FIRE BOATS',
 'MANAGER VIII',
 'ANESTHETIST',
 'BATTALION CHIEF, (FIRE DEPARTMENT)',
 'MANAGER VIII',
 'NURSING SUPERVISOR PSYCHIATRIC',
 'LIEUTENANT, BUREAU OF FIRE PREVENTION AND PUBLIC S',
 'DEPARTMENT HEAD IV',
 'SENIOR PHYSICIAN SPECIALIST',
 'SERGEANT III (POLICE DEPARTMENT)',
 'NURSING SUPERVISOR PSYCHIATRIC',
 'INSPECTOR III, (POLICE DEPARTMENT)',
 'CAPTAIN, FIRE SUPPRESSION',
 'SENIOR PHYSICIAN SPECIALIST',
 'FIREFIGHTER',
 'CHIEF ATTORNEY I (CIVIL & CRIMINAL)',
 'CAPTAIN, BUREAU OF FIRE PREVENTION AND PUBLIC SAFE',
 'FIREFIGHTER',
 'ANESTHETIST',
 'FIREFIGHTER',
 'FIREFIGHTER',
 'CAPTAIN, FIRE SUPPRESSION',
 'NURSE MANAGER',
 'FIREFIGHTER',
 'MANAGER VIII',
 'SERGEANT III (POLICE DEPARTMENT)',
 'FIRE FIGHTER PARAMEDIC',
 'INSPECTOR III, (POLICE DEPARTMENT)',
 'BATTALION CHIEF, (FIRE DEPARTMENT)',
 'BATTALION CHIEF, (FIRE DEPARTMENT)',
 'CAPTAIN III (POLICE DEPARTMENT)',
 'CAPTAIN, FIRE SUPPRESSION',
 'FIREFIGHTER',
 'CAPTAIN III (POLICE DEPARTMENT)',
 'LIEUTENANT, FIRE DEPARTMENT',
 'TRANSIT SUPERVISOR',
 'FIREFIGHTER',
 'FIRE FIGHTER PARAMEDIC',
 'MANAGER VIII',
 'NURSING SUPERVISOR',
 'FIREFIGHTER',
 'ELECTRICAL TRANSIT SHOP SUPERVISOR I',
 'ASSISTANT DEPUTY CHIEF II',
 'POLICE OFFICER I',
 'CAPTAIN III (POLICE DEPARTMENT)',
 'FIRE FIGHTER PARAMEDIC',
 'FIREFIGHTER',
 'POLICE OFFICER II',
 'ASSISTANT DEPUTY CHIEF II',
 'DEPARTMENT HEAD IV',
 'DEPUTY SHERIFF',
 'FIRE FIGHTER PARAMEDIC',
 'LIEUTENANT, FIRE DEPARTMENT',
 'LIEUTENANT, FIRE DEPARTMENT',
 'FIREFIGHTER',
 'NURSING SUPERVISOR',
 'FIRE FIGHTER PARAMEDIC',
 'FIRE FIGHTER PARAMEDIC',
 'CAPTAIN III (POLICE DEPARTMENT)',
 'CAPTAIN III (POLICE DEPARTMENT)',
 'CAPTAIN, FIRE SUPPRESSION',
 'LIEUTENANT III (POLICE DEPARTMENT)',
 'NURSING SUPERVISOR PSYCHIATRIC',
 'POLICE OFFICER III',
 'NURSING SUPERVISOR',
 'LIEUTENANT, BUREAU OF FIRE PREVENTION AND PUBLIC S',
 'NURSE MANAGER',
 'CAPTAIN III (POLICE DEPARTMENT)',
 'FIRE FIGHTER PARAMEDIC',
 'DEPARTMENT HEAD IV',
 'ANESTHETIST',
 'CAPTAIN III (POLICE DEPARTMENT)',
 'CAPTAIN III (POLICE DEPARTMENT)',
 'FIREFIGHTER',
 'NURSE MANAGER',
 'SENIOR PHYSICIAN SPECIALIST',
 'CAPTAIN III (POLICE DEPARTMENT)',
 'SERGEANT I (POLICE DEPARTMENT)',
 'CAPTAIN, FIRE SUPPRESSION',
 'CAPTAIN, FIRE SUPPRESSION',
 'CAPTAIN III (POLICE DEPARTMENT)',
 'SPECIAL ASSISTANT XXII',
 'POLICE OFFICER III',
 'DEPUTY DIRECTOR IV',
 'NURSING SUPERVISOR',
 'WIRE ROPE CABLE MAINTENANCE SUPERVISOR',
 'LIEUTENANT, FIRE DEPARTMENT',
 'LIEUTENANT, FIRE DEPARTMENT',
 'SENIOR PHYSICIAN SPECIALIST',
 'FIREFIGHTER',
 'POLICE OFFICER III',
 'FIREFIGHTER',
 'TRANSIT SUPERVISOR',
 'CAPTAIN III (POLICE DEPARTMENT)',
 'FIREFIGHTER',
 'ELECTRICAL TRANSIT SYSTEM MECHANIC',
 'CAPTAIN III (POLICE DEPARTMENT)',
 'INSPECTOR, BUREAU OF FIRE PREVENTION AND PUBLIC SA',
 'FIREFIGHTER',
 'FIRE FIGHTER PARAMEDIC',
 'FIRE FIGHTER PARAMEDIC',
 'PUBLIC DEFENDER',
 'LIEUTENANT, FIRE DEPARTMENT',
 'CAPTAIN III (POLICE DEPARTMENT)',
 'LIEUTENANT III (POLICE DEPARTMENT)',
 'TRANSIT SUPERVISOR',
 'DEPUTY DIRECTOR V',
 'LIEUTENANT, FIRE DEPARTMENT',
 'INSPECTOR III, (POLICE DEPARTMENT)',
 'INSPECTOR III, (POLICE DEPARTMENT)',
 'NURSING SUPERVISOR',
 'SUPERVISING PHYSICIAN SPECIALIST',
 'SHERIFF',
 'FIREFIGHTER',
 'FIREFIGHTER',
 'CAPTAIN III (POLICE DEPARTMENT)',
 'NURSE MANAGER',
 'CHIEF ATTORNEY I (CIVIL & CRIMINAL)',
 'CHIEF ATTORNEY I (CIVIL & CRIMINAL)',
 'FIREFIGHTER',
 'FIREFIGHTER',
 'POLICE OFFICER III',
 'CAPTAIN III (POLICE DEPARTMENT)',
 'NURSE MANAGER',
 'ELECTRONIC MAINTENANCE TECHNICIAN',
 'HUMAN RESOURCES DIRECTOR',
 'FIREFIGHTER',
 'POLICE OFFICER III',
 'LIEUTENANT, FIRE DEPARTMENT',
 'ELECTRICAL TRANSIT SYSTEM MECHANIC',
 'LIEUTENANT, FIRE DEPARTMENT',
 'BATTALION CHIEF, (FIRE DEPARTMENT)',
 'SUPERVISING PHYSICIAN SPECIALIST',
 'CAPTAIN, FIRE SUPPRESSION',
 'DEPUTY DIRECTOR V',
 'DEPUTY DIRECTOR II - MUNICIPAL TRANSPORTATION AG',
 'FIREFIGHTER',
 'CAPTAIN, FIRE SUPPRESSION',
 'CAPTAIN III (POLICE DEPARTMENT)',
 'FIREFIGHTER',
 'ANESTHETIST',
 'TRANSIT SUPERVISOR',
 'FIREFIGHTER',
 'LIEUTENANT, FIRE DEPARTMENT',
 'FIREFIGHTER',
 'SERGEANT III (POLICE DEPARTMENT)',
 'BATTALION CHIEF, (FIRE DEPARTMENT)',
 'NURSE MANAGER',
 'LIEUTENANT, FIRE DEPARTMENT',
 'FIREFIGHTER',
 'DEPUTY DIRECTOR V',
 'INVESTIGATOR, BUREAU OF FIRE INVESTIGATION',
 'ASSISTANT CHIEF ATTORNEY II',
 'ASSISTANT CHIEF ATTORNEY II',
 'ASSISTANT CHIEF ATTORNEY II',
 'CAPTAIN, EMERGENCYCY MEDICAL SERVICES',
 'SUPERVISING PHYSICIAN SPECIALIST',
 'SERGEANT III (POLICE DEPARTMENT)',
 'LIEUTENANT, BUREAU OF FIRE PREVENTION AND PUBLIC S',
 'LIEUTENANT, FIRE DEPARTMENT',
 'SERGEANT III (POLICE DEPARTMENT)',
 'FIREFIGHTER',
 'SUPERVISING PHYSICIAN SPECIALIST',
 'CAPTAIN, FIRE SUPPRESSION',
 'FIREFIGHTER',
 'DEPUTY DIRECTOR IV',
 'DEPUTY DIRECTOR III',
 'CAPTAIN III (POLICE DEPARTMENT)',
 'FIREFIGHTER',
 'SUPERVISING PHYSICIAN SPECIALIST',
 'LIEUTENANT III (POLICE DEPARTMENT)',
 'PHARMACIST',
 'POLICE OFFICER III',
 'NURSING SUPERVISOR',
 'FIREFIGHTER',
 'FIREFIGHTER',
 'FIREFIGHTER',
 'FIRE FIGHTER PARAMEDIC',
 'LIEUTENANT, FIRE DEPARTMENT',
 'LIEUTENANT, BUREAU OF FIRE PREVENTION AND PUBLIC S',
 'NURSING SUPERVISOR',
 'POLICE OFFICER III',
 'NURSE MANAGER',
 'DEPUTY SHERIFF',
 'FIREFIGHTER',
 'CAPTAIN III (POLICE DEPARTMENT)',
 'CAPTAIN III (POLICE DEPARTMENT)',
 'CAPTAIN III (POLICE DEPARTMENT)',
 'CAPTAIN III (POLICE DEPARTMENT)',
 'CAPTAIN III (POLICE DEPARTMENT)',
 'CAPTAIN III (POLICE DEPARTMENT)',
 'LIEUTENANT III (POLICE DEPARTMENT)',
 'DEPUTY DIRECTOR IV',
 'TRANSIT OPERATIONS SPECIALIST',
 'CAPTAIN, FIRE SUPPRESSION',
 'COMMANDER III, (POLICE DEPARTMENT)',
 'INSPECTOR III, (POLICE DEPARTMENT)',
 'LIEUTENANT, FIRE DEPARTMENT',
 'FIREFIGHTER',
 'SUPERVISING PHYSICIAN SPECIALIST',
 'SUPERVISING PHYSICIAN SPECIALIST',
 'SUPERVISING PHYSICIAN SPECIALIST',
 'SUPERVISING PHYSICIAN SPECIALIST',
 'FIRE FIGHTER PARAMEDIC',
 'DEPUTY DIRECTOR IV',
 'ELECTRICAL TRANSIT SYSTEM MECHANIC',
 'LIEUTENANT, FIRE DEPARTMENT',
 'FIREFIGHTER',
 'INCIDENT SUPPORT SPECIALIST',
 'DEPARTMENT HEAD III',
 'CAPTAIN, FIRE SUPPRESSION',
 'FIREFIGHTER',
 'DEPUTY DIRECTOR IV',
 'NURSE MANAGER',
 'MANAGER VIII',
 'CAPTAIN III (POLICE DEPARTMENT)',
 'POLICE OFFICER III',
 'CHIEF PROBATION OFFICER, JUVENILE COURT',
 'SUPERVISING PHYSICIAN SPECIALIST',
 'SERGEANT I (POLICE DEPARTMENT)',
 'LIEUTENANT III (POLICE DEPARTMENT)',
 'SERGEANT III (POLICE DEPARTMENT)',
 'FIREFIGHTER',
 'DEPARTMENT HEAD III',
 'FIREFIGHTER',
 'NURSE MANAGER',
 'DEPUTY DIRECTOR IV',
 'SUPERVISING PHYSICIAN SPECIALIST',
 'SERGEANT III (POLICE DEPARTMENT)',
 'LIEUTENANT III (POLICE DEPARTMENT)',
 'DEPARTMENT HEAD III',
 'DEPUTY DIRECTOR IV',
 'FIREFIGHTER',
 'CAPTAIN, EMERGENCYCY MEDICAL SERVICES',
 'ASSISTANT CHIEF ATTORNEY II',
 "SHERIFF'S SERGEANT",
 'NURSE MANAGER',
 'FIREFIGHTER',
 'INSPECTOR III, (POLICE DEPARTMENT)',
 'NURSING SUPERVISOR',
 'BATTALION CHIEF, (FIRE DEPARTMENT)',
 'LIEUTENANT, FIRE DEPARTMENT',
 'INVESTIGATOR, BUREAU OF FIRE INVESTIGATION',
 'CAPTAIN, EMERGENCYCY MEDICAL SERVICES',
 'CAPTAIN III (POLICE DEPARTMENT)',
 'NURSE MANAGER',
 'ELECTRICAL TRANSIT SYSTEM MECHANIC',
 'NURSE MANAGER',
 'DEPUTY DIRECTOR V',
 'MANAGER VIII',
 'CAPTAIN, FIRE SUPPRESSION',
 'FIREFIGHTER',
 'ASSISTANT INSPECTOR (POLICE DEPARTMENT)',
 'DEPUTY DIRECTOR IV',
 'LIEUTENANT, FIRE DEPARTMENT',
 'INSPECTOR III, (POLICE DEPARTMENT)',
 'LIEUTENANT III (POLICE DEPARTMENT)',
 'DIAGNOSTIC IMAGING TECH II',
 'SUPERVISING PHYSICIAN SPECIALIST',
 'DIAGNOSTIC IMAGING TECH III',
 'NURSE MANAGER',
 'NURSE MANAGER',
 'SENIOR PHYSICIAN SPECIALIST',
 'FIRE FIGHTER PARAMEDIC',
 'NURSE MANAGER',
 'FIRE FIGHTER PARAMEDIC',
 'FIRE FIGHTER PARAMEDIC',
 'CHIEF ADULT PROBATION OFFICER',
 'FIREFIGHTER',
 'MANAGER VI',
 'BATTALION CHIEF, (FIRE DEPARTMENT)',
 'NURSING SUPERVISOR',
 'DEPUTY DIRECTOR V',
 'TRANSIT SUPERVISOR',
 'DEPARTMENT HEAD III',
 'LIEUTENANT, FIRE DEPARTMENT',
 'LIEUTENANT, FIRE DEPARTMENT',
 'FIRE SAFETY INSPECTOR II',
 'ELECTRONIC MAINTENANCE TECHNICIAN',
 'LIEUTENANT, FIRE DEPARTMENT',
 'FIRE FIGHTER PARAMEDIC',
 'MANAGER VIII',
 'MAINTENANCE MACHINIST',
 'SERGEANT III (POLICE DEPARTMENT)',
 'SERGEANT III (POLICE DEPARTMENT)',
 'SENIOR PHYSICIAN SPECIALIST',
 'CAPTAIN, FIRE SUPPRESSION',
 'SENIOR PHYSICIAN SPECIALIST',
 'SERGEANT III (POLICE DEPARTMENT)',
 'TRANSIT SUPERVISOR',
 'LIEUTENANT III (POLICE DEPARTMENT)',
 'FIRE SAFETY INSPECTOR II',
 'FIREFIGHTER',
 'INSPECTOR III, (POLICE DEPARTMENT)',
 'ASSISTANT INSPECTOR III (POLICE DEPARTMENT)',
 'POLICE OFFICER III',
 'DEPUTY DIRECTOR I - MUNICIPAL TRANSPORTATION AGE',
 'MARINE ENGINEER OF FIRE BOATS',
 'SENIOR PHYSICIAN SPECIALIST',
 'TRANSIT SUPERVISOR',
 'SERGEANT III (POLICE DEPARTMENT)',
 'FIREFIGHTER',
 'INSPECTOR III, (POLICE DEPARTMENT)',
 'INSPECTOR III, (POLICE DEPARTMENT)',
 'LIEUTENANT, FIRE DEPARTMENT',
 'INSPECTOR III, (POLICE DEPARTMENT)',
 'CAPTAIN, FIRE SUPPRESSION',
 'DIRECTOR, EMPLOYEE RELATIONS DIVISION',
 'FIREFIGHTER',
 'LIEUTENANT III (POLICE DEPARTMENT)',
 'NURSE MANAGER',
 'CAPTAIN, FIRE SUPPRESSION',
 'FIREFIGHTER',
 'LIEUTENANT, FIRE DEPARTMENT',
 'TRANSIT SUPERVISOR',
 'LIEUTENANT, FIRE DEPARTMENT',
 'DEPUTY DIRECTOR V',
 'MANAGER VIII',
 'DEPUTY DIRECTOR V',
 'MANAGER VIII',
 'DEPUTY DIRECTOR V',
 'MANAGER VIII',
 'DEPUTY DIRECTOR V',
 'MANAGER VIII',
 'DEPUTY DIRECTOR V',
 'ASSISTANT CHIEF ATTORNEY I',
 'ASSISTANT CHIEF ATTORNEY I',
 'ASSISTANT CHIEF ATTORNEY I',
 'ASSISTANT CHIEF ATTORNEY I',
 'ASSISTANT CHIEF ATTORNEY I',
 'ASSISTANT CHIEF ATTORNEY I',
 'ASSISTANT CHIEF ATTORNEY I',
 'ASSISTANT CHIEF ATTORNEY I',
 'ASSISTANT CHIEF ATTORNEY I',
 'ASSISTANT CHIEF ATTORNEY I',
 'ASSISTANT CHIEF ATTORNEY I',
 'ASSISTANT CHIEF ATTORNEY I',
 'ASSISTANT CHIEF ATTORNEY I',
 'ASSISTANT CHIEF ATTORNEY I',
 'ASSISTANT CHIEF ATTORNEY I',
 'ASSISTANT CHIEF ATTORNEY I',
 'DIAGNOSTIC IMAGING TECH II',
 'LIEUTENANT III (POLICE DEPARTMENT)',
 'TRAIN CONTROLLER',
 'CAPTAIN III (POLICE DEPARTMENT)',
 'DEPUTY DIRECTOR V',
 'CAPTAIN, FIRE SUPPRESSION',
 'INSPECTOR III, (POLICE DEPARTMENT)',
 'SENIOR PHYSICIAN SPECIALIST',
 'MANAGER VII',
 'POLICE OFFICER III',
 'SERGEANT III (POLICE DEPARTMENT)',
 'COMMANDER III, (POLICE DEPARTMENT)',
 'PHYSICIAN ASSISTANT',
 'LIEUTENANT, FIRE DEPARTMENT',
 'MANAGER VII',
 'ELECTRONIC MAINTENANCE TECHNICIAN',
 'MANAGER VI',
 'CAPTAIN, FIRE SUPPRESSION',
 'TRANSIT SUPERVISOR',
 'SENIOR PHYSICIAN SPECIALIST',
 'NURSE MANAGER',
 'FIRE FIGHTER PARAMEDIC',
 'SERGEANT III (POLICE DEPARTMENT)',
 'LIEUTENANT, FIRE DEPARTMENT',
 'PHYSICIAN SPECIALIST',
 'ASSISTANT CHIEF ATTORNEY I',
 'ASSISTANT CHIEF ATTORNEY I',
 'SENIOR PHYSICIAN SPECIALIST',
 'CAPTAIN, FIRE SUPPRESSION',
 'BATTALION CHIEF, (FIRE DEPARTMENT)',
 'INSPECTOR III, (POLICE DEPARTMENT)',
 'MARINE ENGINEER OF FIRE BOATS',
 'SENIOR PHYSICIAN SPECIALIST',
 'FIREFIGHTER',
 'SENIOR PHYSICIAN SPECIALIST',
 'CAPTAIN, FIRE SUPPRESSION',
 'SERGEANT III (POLICE DEPARTMENT)',
 'SENIOR PHYSICIAN SPECIALIST',
 'NURSE MANAGER',
 'POLICE OFFICER III',
 'SENIOR PHYSICIAN SPECIALIST',
 'FIREFIGHTER',
 'NURSE MANAGER',
 'ASSISTANT CHIEF ATTORNEY I',
 'FIREFIGHTER',
 'ASSISTANT CHIEF ATTORNEY I',
 'SENIOR PHYSICIAN SPECIALIST',
 'POLICE OFFICER III',
 'BATTALION CHIEF, (FIRE DEPARTMENT)',
 'FIREFIGHTER',
 'BATTALION CHIEF, (FIRE DEPARTMENT)',
 'NURSE MANAGER',
 'NURSE MANAGER',
 'FIREFIGHTER',
 'AUTOMOTIVE MECHANIC SUPERVISOR I',
 'POLICE OFFICER III',
 'SERGEANT III (POLICE DEPARTMENT)',
 'FIREFIGHTER',
 'POLICE OFFICER III',
 'NURSE MANAGER',
 'DEPUTY DIRECTOR IV',
 'SERGEANT III (POLICE DEPARTMENT)',
 'PHARMACIST',
 'LIEUTENANT, FIRE DEPARTMENT',
 'CAPTAIN, FIRE SUPPRESSION',
 'FIREFIGHTER',
 'NURSE MANAGER',
 'SUPERVISING PHYSICIAN SPECIALIST',
 'SERGEANT III (POLICE DEPARTMENT)',
 'ATTORNEY (CIVIL/CRIMINAL)',
 'INSPECTOR III, (POLICE DEPARTMENT)',
 'FIRE FIGHTER PARAMEDIC',
 'CAPTAIN, EMERGENCYCY MEDICAL SERVICES',
 'LIEUTENANT III (POLICE DEPARTMENT)',
 'SENIOR PHYSICIAN SPECIALIST',
 'NURSE MANAGER',
 'NURSE MANAGER',
 'LIEUTENANT, FIRE DEPARTMENT',
 'NURSE MANAGER',
 'INSPECTOR, BUREAU OF FIRE PREVENTION AND PUBLIC SA',
 'SERGEANT II (POLICE DEPARTMENT)',
 'FIREFIGHTER',
 'NURSE MANAGER',
 'LIEUTENANT III (POLICE DEPARTMENT)',
 'SENIOR PHYSICIAN SPECIALIST',
 'ELECTRICIAN',
 'LIEUTENANT, FIRE DEPARTMENT',
 'BATTALION CHIEF, (FIRE DEPARTMENT)',
 'CAPTAIN, FIRE SUPPRESSION',
 'SENIOR PHYSICIAN SPECIALIST',
 'DIAGNOSTIC IMAGING TECH III',
 'NURSE PRACTITIONER',
 'FIREFIGHTER',
 'FIREFIGHTER',
 'BATTALION CHIEF, (FIRE DEPARTMENT)',
 'ASSISTANT CHIEF ATTORNEY I',
 'POLICE OFFICER III',
 'SENIOR PHYSICIAN SPECIALIST',
 'INSPECTOR III, (POLICE DEPARTMENT)',
 'ASSISTANT DEPUTY CHIEF II',
 'LIEUTENANT, FIRE DEPARTMENT',
 'CAPTAIN, FIRE SUPPRESSION',
 'FIREFIGHTER',
 'FIREFIGHTER',
 'FIREFIGHTER',
 'LIEUTENANT, FIRE DEPARTMENT',
 'MANAGER VII',
 'LIEUTENANT III (POLICE DEPARTMENT)',
 'FIREFIGHTER',
 'INSPECTOR III, (POLICE DEPARTMENT)',
 'LIEUTENANT, FIRE DEPARTMENT',
 'MANAGER VII',
 'SERGEANT III (POLICE DEPARTMENT)',
 'FIREFIGHTER',
 'NURSE MANAGER',
 'TRANSIT OPERATIONS SPECIALIST',
 'POLICE OFFICER III',
 'SERGEANT III (POLICE DEPARTMENT)',
 'FIREFIGHTER',
 'ELECTRICAL TRANSIT SYSTEM MECHANIC',
 'POLICE OFFICER III',
 'SERGEANT III (POLICE DEPARTMENT)',
 'MECHANICAL SHOP AND EQUIPMENT SUPERINTENDENT',
 'LIEUTENANT, FIRE DEPARTMENT',
 'POLICE OFFICER II',
 'POLICE OFFICER III',
 'FIREFIGHTER',
 'LIEUTENANT III (POLICE DEPARTMENT)',
 'FIREFIGHTER',
 'SUPERVISING PHYSICIAN SPECIALIST',
 'HEAD ATTORNEY, CIVIL AND CRIMINAL',
 'ELECTRICAL TRANSIT SYSTEM MECHANIC',
 'FIREFIGHTER',
 'INSPECTOR, BUREAU OF FIRE PREVENTION AND PUBLIC SA',
 'MANAGER VII',
 'CAPTAIN, FIRE SUPPRESSION',
 'SERGEANT III (POLICE DEPARTMENT)',
 'HEAD ATTORNEY, CIVIL AND CRIMINAL',
 'HEAD ATTORNEY, CIVIL AND CRIMINAL',
 'HEAD ATTORNEY, CIVIL AND CRIMINAL',
 'HEAD ATTORNEY, CIVIL AND CRIMINAL',
 'SERGEANT III (POLICE DEPARTMENT)',
 'HEAD ATTORNEY, CIVIL AND CRIMINAL',
 'HEAD ATTORNEY, CIVIL AND CRIMINAL',
 'HEAD ATTORNEY, CIVIL AND CRIMINAL',
 'HEAD ATTORNEY, CIVIL AND CRIMINAL',

In [29]:
sal['JobTitle'].value_counts().head(5)

Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: JobTitle, dtype: int64

In [36]:
sum(sal[sal['Year']==2013]['JobTitle'].value_counts()==1)

202

In [6]:
sal

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
148649,148650,Roy I Tillery,Custodian,0.00,0.00,0.00,0.0,0.00,0.00,2014,NaN,San Francisco,NaN
148650,148651,Not provided,Not provided,NaN,NaN,NaN,NaN,0.00,0.00,2014,NaN,San Francisco,NaN
148651,148652,Not provided,Not provided,NaN,NaN,NaN,NaN,0.00,0.00,2014,NaN,San Francisco,NaN
148652,148653,Not provided,Not provided,NaN,NaN,NaN,NaN,0.00,0.00,2014,NaN,San Francisco,NaN
148653,148654,Joe Lopez,"Counselor, Log Cabin Ranch",0.00,0.00,-618.13,0.0,-618.13,-618.13,2014,NaN,San Francisco,NaN

In [21]:
sal['JobTitle'].value_counts('Chief')

Transit Operator                                  0.047331
Special Nurse                                     0.029525
Registered Nurse                                  0.025132
Public Svc Aide-Public Works                      0.016939
Police Officer 3                                  0.016286
                                                    ...
CHIEF HOUSING INSPECTOR                           0.000007
TRAFFIC SIGNAL OPERATOR                           0.000007
COURT COMPUTER FACILITIES COORDINATOR             0.000007
AUTOMOTIVE BODY AND FENDER WORKER SUPERVISOR I    0.000007
VICTIM & WITNESS TECHNICIAN                       0.000007
Name: JobTitle, Length: 2159, dtype: float64

In [25]:
(sal['JobTitle'])

0         GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY
1                        CAPTAIN III (POLICE DEPARTMENT)
2                        CAPTAIN III (POLICE DEPARTMENT)
3                   WIRE ROPE CABLE MAINTENANCE MECHANIC
4           DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)
                               ...
148649                                         Custodian
148650                                      Not provided
148651                                      Not provided
148652                                      Not provided
148653                        Counselor, Log Cabin Ranch
Name: JobTitle, Length: 148654, dtype: object

In [28]:
Job_title

In [7]:
sal

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
148649,148650,Roy I Tillery,Custodian,0.00,0.00,0.00,0.0,0.00,0.00,2014,NaN,San Francisco,NaN
148650,148651,Not provided,Not provided,NaN,NaN,NaN,NaN,0.00,0.00,2014,NaN,San Francisco,NaN
148651,148652,Not provided,Not provided,NaN,NaN,NaN,NaN,0.00,0.00,2014,NaN,San Francisco,NaN
148652,148653,Not provided,Not provided,NaN,NaN,NaN,NaN,0.00,0.00,2014,NaN,San Francisco,NaN
148653,148654,Joe Lopez,"Counselor, Log Cabin Ranch",0.00,0.00,-618.13,0.0,-618.13,-618.13,2014,NaN,San Francisco,NaN

In [9]:
sal['JobTitle'].value_counts()

Transit Operator                                  7036
Special Nurse                                     4389
Registered Nurse                                  3736
Public Svc Aide-Public Works                      2518
Police Officer 3                                  2421
                                                  ...
CHIEF HOUSING INSPECTOR                              1
TRAFFIC SIGNAL OPERATOR                              1
COURT COMPUTER FACILITIES COORDINATOR                1
AUTOMOTIVE BODY AND FENDER WORKER SUPERVISOR I       1
VICTIM & WITNESS TECHNICIAN                          1
Name: JobTitle, Length: 2159, dtype: int64

In [19]:
def find_chief(job_title):
    if 'chief' in job_title.lower().split():
        return True
    else:
        return False

In [20]:
find_chief('chief')

True

In [12]:
type(sal['JobTitle'])

pandas.core.series.Series

In [14]:
sal['JobTitle'].apply(lambda x:find_chief(x))

0         False
1         False
2         False
3         False
4          True
          ...
148649    False
148650    False
148651    False
148652    False
148653    False
Name: JobTitle, Length: 148654, dtype: bool

In [21]:
sum(sal['JobTitle'].apply(lambda x:find_chief(x))) ## use apply method to get the answer of find out the count of chief

477

In [22]:
sal

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
148649,148650,Roy I Tillery,Custodian,0.00,0.00,0.00,0.0,0.00,0.00,2014,NaN,San Francisco,NaN
148650,148651,Not provided,Not provided,NaN,NaN,NaN,NaN,0.00,0.00,2014,NaN,San Francisco,NaN
148651,148652,Not provided,Not provided,NaN,NaN,NaN,NaN,0.00,0.00,2014,NaN,San Francisco,NaN
148652,148653,Not provided,Not provided,NaN,NaN,NaN,NaN,0.00,0.00,2014,NaN,San Francisco,NaN
148653,148654,Joe Lopez,"Counselor, Log Cabin Ranch",0.00,0.00,-618.13,0.0,-618.13,-618.13,2014,NaN,San Francisco,NaN

In [34]:
sal['JobTitle'].apply(len)

0         46
1         31
2         31
3         36
4         44
          ..
148649     9
148650    12
148651    12
148652    12
148653    26
Name: JobTitle, Length: 148654, dtype: int64

In [38]:
sal[['JobTitle','TotalPay']].corr()

          TotalPay
TotalPay       1.0

In [40]:
ecom=pd.read_csv('Ecommerce Purchases')

In [41]:
ecom

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
0,"16629 Pace Camp Apt. 448\nAlexisborough, NE 77...",46 in,PM,Opera/9.56.(X11; Linux x86_64; sl-SI) Presto/2...,Martinez-Herman,6011929061123406,02/20,900,JCB 16 digit,pdunlap@yahoo.com,"Scientist, product/process development",149.146.147.205,el,98.14
1,"9374 Jasmine Spurs Suite 508\nSouth John, TN 8...",28 rn,PM,Opera/8.93.(Windows 98; Win 9x 4.90; en-US) Pr...,"Fletcher, Richards and Whitaker",3337758169645356,11/18,561,Mastercard,anthony41@reed.com,Drilling engineer,15.160.41.51,fr,70.73
2,Unit 0065 Box 5052\nDPO AP 27450,94 vE,PM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Simpson, Williams and Pham",675957666125,08/19,699,JCB 16 digit,amymiller@morales-harrison.com,Customer service manager,132.207.160.22,de,0.95
3,"7780 Julia Fords\nNew Stacy, WA 45798",36 vm,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_0 ...,"Williams, Marshall and Buchanan",6011578504430710,02/24,384,Discover,brent16@olson-robinson.info,Drilling engineer,30.250.74.19,es,78.04
4,"23012 Munoz Drive Suite 337\nNew Cynthia, TX 5...",20 IE,AM,Opera/9.58.(X11; Linux x86_64; it-IT) Presto/2...,"Brown, Watson and Andrews",6011456623207998,10/25,678,Diners Club / Carte Blanche,christopherwright@gmail.com,Fine artist,24.140.33.94,es,77.82
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,"966 Castaneda Locks\nWest Juliafurt, CO 96415",92 XI,PM,Mozilla/5.0 (Windows NT 5.1) AppleWebKit/5352 ...,Randall-Sloan,342945015358701,03/22,838,JCB 15 digit,iscott@wade-garner.com,Printmaker,29.73.197.114,it,82.21
9996,"832 Curtis Dam Suite 785\nNorth Edwardburgh, T...",41 JY,AM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Hale, Collins and Wilson",210033169205009,07/25,207,JCB 16 digit,mary85@hotmail.com,Energy engineer,121.133.168.51,pt,25.63
9997,Unit 4434 Box 6343\nDPO AE 28026-0283,74 Zh,AM,Mozilla/5.0 (Macintosh; U; Intel Mac OS X 10_7...,Anderson Ltd,6011539787356311,05/21,1,VISA 16 digit,tyler16@gmail.com,Veterinary surgeon,156.210.0.254,el,83.98
9998,"0096 English Rest\nRoystad, IA 12457",74 cL,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_8;...,Cook Inc,180003348082930,11/17,987,American Express,elizabethmoore@reid.net,Local government officer,55.78.26.143,es,38.84
9999,"40674 Barrett Stravenue\nGrimesville, WI 79682",64 Hr,AM,Mozilla/5.0 (X11; Linux i686; rv:1.9.5.20) Gec...,Greene Inc,4139972901927273,02/19,302,JCB 15 digit,rachelford@vaughn.com,"Embryologist, clinical",176.119.198.199,el,67.59

In [42]:
type(ecom)

pandas.core.frame.DataFrame

In [43]:
ecom.head()

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
0,"16629 Pace Camp Apt. 448\nAlexisborough, NE 77...",46 in,PM,Opera/9.56.(X11; Linux x86_64; sl-SI) Presto/2...,Martinez-Herman,6011929061123406,02/20,900,JCB 16 digit,pdunlap@yahoo.com,"Scientist, product/process development",149.146.147.205,el,98.14
1,"9374 Jasmine Spurs Suite 508\nSouth John, TN 8...",28 rn,PM,Opera/8.93.(Windows 98; Win 9x 4.90; en-US) Pr...,"Fletcher, Richards and Whitaker",3337758169645356,11/18,561,Mastercard,anthony41@reed.com,Drilling engineer,15.160.41.51,fr,70.73
2,Unit 0065 Box 5052\nDPO AP 27450,94 vE,PM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Simpson, Williams and Pham",675957666125,08/19,699,JCB 16 digit,amymiller@morales-harrison.com,Customer service manager,132.207.160.22,de,0.95
3,"7780 Julia Fords\nNew Stacy, WA 45798",36 vm,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_0 ...,"Williams, Marshall and Buchanan",6011578504430710,02/24,384,Discover,brent16@olson-robinson.info,Drilling engineer,30.250.74.19,es,78.04
4,"23012 Munoz Drive Suite 337\nNew Cynthia, TX 5...",20 IE,AM,Opera/9.58.(X11; Linux x86_64; it-IT) Presto/2...,"Brown, Watson and Andrews",6011456623207998,10/25,678,Diners Club / Carte Blanche,christopherwright@gmail.com,Fine artist,24.140.33.94,es,77.82

In [44]:
ecom.shape

(10000, 14)

In [45]:
ecom.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Address           10000 non-null  object
 1   Lot               10000 non-null  object
 2   AM or PM          10000 non-null  object
 3   Browser Info      10000 non-null  object
 4   Company           10000 non-null  object
 5   Credit Card       10000 non-null  int64
 6   CC Exp Date       10000 non-null  object
 7   CC Security Code  10000 non-null  int64
 8   CC Provider       10000 non-null  object
 9   Email             10000 non-null  object
 10  Job               10000 non-null  object
 11  IP Address        10000 non-null  object
 12  Language          10000 non-null  object
 13  Purchase Price    10000 non-null  float64
dtypes: float64(1), int64(2), object(11)
memory usage: 1.1+ MB

In [46]:
ecom['Purchase Price'].mean()

50.34730200000025

In [47]:
ecom['Purchase Price'].max()

99.99

In [48]:
ecom['Purchase Price'].min()

0.0

In [50]:
ecom.head()

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
0,"16629 Pace Camp Apt. 448\nAlexisborough, NE 77...",46 in,PM,Opera/9.56.(X11; Linux x86_64; sl-SI) Presto/2...,Martinez-Herman,6011929061123406,02/20,900,JCB 16 digit,pdunlap@yahoo.com,"Scientist, product/process development",149.146.147.205,el,98.14
1,"9374 Jasmine Spurs Suite 508\nSouth John, TN 8...",28 rn,PM,Opera/8.93.(Windows 98; Win 9x 4.90; en-US) Pr...,"Fletcher, Richards and Whitaker",3337758169645356,11/18,561,Mastercard,anthony41@reed.com,Drilling engineer,15.160.41.51,fr,70.73
2,Unit 0065 Box 5052\nDPO AP 27450,94 vE,PM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Simpson, Williams and Pham",675957666125,08/19,699,JCB 16 digit,amymiller@morales-harrison.com,Customer service manager,132.207.160.22,de,0.95
3,"7780 Julia Fords\nNew Stacy, WA 45798",36 vm,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_0 ...,"Williams, Marshall and Buchanan",6011578504430710,02/24,384,Discover,brent16@olson-robinson.info,Drilling engineer,30.250.74.19,es,78.04
4,"23012 Munoz Drive Suite 337\nNew Cynthia, TX 5...",20 IE,AM,Opera/9.58.(X11; Linux x86_64; it-IT) Presto/2...,"Brown, Watson and Andrews",6011456623207998,10/25,678,Diners Club / Carte Blanche,christopherwright@gmail.com,Fine artist,24.140.33.94,es,77.82

In [51]:
ecom.columns

Index(['Address', 'Lot', 'AM or PM', 'Browser Info', 'Company', 'Credit Card',
       'CC Exp Date', 'CC Security Code', 'CC Provider', 'Email', 'Job',
       'IP Address', 'Language', 'Purchase Price'],
      dtype='object')

In [55]:
sum(ecom['Language']=='en')

1098

In [56]:
ecom.columns

Index(['Address', 'Lot', 'AM or PM', 'Browser Info', 'Company', 'Credit Card',
       'CC Exp Date', 'CC Security Code', 'CC Provider', 'Email', 'Job',
       'IP Address', 'Language', 'Purchase Price'],
      dtype='object')

In [58]:
sum(ecom['Job']=='Lawyer')

30

In [59]:
ecom['AM or PM'].value_counts()

PM    5068
AM    4932
Name: AM or PM, dtype: int64

In [62]:
ecom['Job'].value_counts().head()

Interior and spatial designer    31
Lawyer                           30
Social researcher                28
Purchasing manager               27
Designer, jewellery              27
Name: Job, dtype: int64

In [63]:
ecom['Job'].value_counts()[:5]

Interior and spatial designer    31
Lawyer                           30
Social researcher                28
Purchasing manager               27
Designer, jewellery              27
Name: Job, dtype: int64

In [64]:
ecom.columns

Index(['Address', 'Lot', 'AM or PM', 'Browser Info', 'Company', 'Credit Card',
       'CC Exp Date', 'CC Security Code', 'CC Provider', 'Email', 'Job',
       'IP Address', 'Language', 'Purchase Price'],
      dtype='object')

In [66]:
ecom['Lot']=='90 WT'

0       False
1       False
2       False
3       False
4       False
        ...
9995    False
9996    False
9997    False
9998    False
9999    False
Name: Lot, Length: 10000, dtype: bool

In [67]:
ecom[ecom['Lot']=='90 WT']

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
513,"50398 Mccoy Rest Suite 597\nSouth Garyborough,...",90 WT,AM,Mozilla/5.0 (iPod; U; CPU iPhone OS 3_2 like M...,Bright PLC,630438419693,11/19,173,American Express,jesse00@page.net,Energy engineer,156.70.208.94,ru,75.1

In [69]:
ecom[ecom['Lot']=='90 WT']['Purchase Price']

513    75.1
Name: Purchase Price, dtype: float64

In [70]:
ecom[ecom['Credit Card']==4926535242672853]['Email']

1234    bondellen@williams-garza.com
Name: Email, dtype: object

In [71]:
ecom['CC Provider']=='American Express'

0       False
1       False
2       False
3       False
4       False
        ...
9995    False
9996    False
9997    False
9998     True
9999    False
Name: CC Provider, Length: 10000, dtype: bool

In [74]:
(ecom['CC Provider']=='American Express') & (ecom['Purchase Price']>95)

0       False
1       False
2       False
3       False
4       False
        ...
9995    False
9996    False
9997    False
9998    False
9999    False
Length: 10000, dtype: bool

In [75]:
sum((ecom['CC Provider']=='American Express') & (ecom['Purchase Price']>95))

39

In [76]:
ecom.head()

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
0,"16629 Pace Camp Apt. 448\nAlexisborough, NE 77...",46 in,PM,Opera/9.56.(X11; Linux x86_64; sl-SI) Presto/2...,Martinez-Herman,6011929061123406,02/20,900,JCB 16 digit,pdunlap@yahoo.com,"Scientist, product/process development",149.146.147.205,el,98.14
1,"9374 Jasmine Spurs Suite 508\nSouth John, TN 8...",28 rn,PM,Opera/8.93.(Windows 98; Win 9x 4.90; en-US) Pr...,"Fletcher, Richards and Whitaker",3337758169645356,11/18,561,Mastercard,anthony41@reed.com,Drilling engineer,15.160.41.51,fr,70.73
2,Unit 0065 Box 5052\nDPO AP 27450,94 vE,PM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Simpson, Williams and Pham",675957666125,08/19,699,JCB 16 digit,amymiller@morales-harrison.com,Customer service manager,132.207.160.22,de,0.95
3,"7780 Julia Fords\nNew Stacy, WA 45798",36 vm,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_0 ...,"Williams, Marshall and Buchanan",6011578504430710,02/24,384,Discover,brent16@olson-robinson.info,Drilling engineer,30.250.74.19,es,78.04
4,"23012 Munoz Drive Suite 337\nNew Cynthia, TX 5...",20 IE,AM,Opera/9.58.(X11; Linux x86_64; it-IT) Presto/2...,"Brown, Watson and Andrews",6011456623207998,10/25,678,Diners Club / Carte Blanche,christopherwright@gmail.com,Fine artist,24.140.33.94,es,77.82

In [77]:
ecom['CC Exp Date']

0       02/20
1       11/18
2       08/19
3       02/24
4       10/25
        ...
9995    03/22
9996    07/25
9997    05/21
9998    11/17
9999    02/19
Name: CC Exp Date, Length: 10000, dtype: object

In [78]:
lambda a:a[3:]

In [79]:
ecom['CC Exp Date'].apply(lambda a:a[3:])

0       20
1       18
2       19
3       24
4       25
        ..
9995    22
9996    25
9997    21
9998    17
9999    19
Name: CC Exp Date, Length: 10000, dtype: object

In [80]:
ecom['CC Exp Date'].apply(lambda a:a[3:])=='25'

0       False
1       False
2       False
3       False
4        True
        ...
9995    False
9996     True
9997    False
9998    False
9999    False
Name: CC Exp Date, Length: 10000, dtype: bool

In [81]:
sum(ecom['CC Exp Date'].apply(lambda a:a[3:])=='25')

1033

In [82]:
ecom.columns

Index(['Address', 'Lot', 'AM or PM', 'Browser Info', 'Company', 'Credit Card',
       'CC Exp Date', 'CC Security Code', 'CC Provider', 'Email', 'Job',
       'IP Address', 'Language', 'Purchase Price'],
      dtype='object')

In [85]:
ecom['Email'].value_counts().head()

leekathy@yahoo.com         2
joshua41@hotmail.com       2
christopher29@gmail.com    2
ethomas@hotmail.com        2
brownjohn@hotmail.com      2
Name: Email, dtype: int64

In [86]:
ecom['Email'].apply(lambda a:a.split('@')[-1])

0                  yahoo.com
1                   reed.com
2       morales-harrison.com
3        olson-robinson.info
4                  gmail.com
                ...
9995         wade-garner.com
9996             hotmail.com
9997               gmail.com
9998                reid.net
9999              vaughn.com
Name: Email, Length: 10000, dtype: object

In [87]:
ecom['Email'].apply(lambda a:a.split('@')[-1]).value_counts().head()

hotmail.com     1638
yahoo.com       1616
gmail.com       1605
smith.com         42
williams.com      37
Name: Email, dtype: int64